@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vanilla Cream';
  src:
    url('/fonts/vanillacream-webfont.woff2') format('woff2'),
    url('/fonts/vanillacream-webfont.woff') format('woff');
}

:root {
  --font-vanillaCream: 'Vanilla Cream';
}

/* .custom-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(7, 7, 7);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #009eb3;
  }
} */

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
